@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

body {
    /* background-color:white; */
    margin: 0;
    padding: 0;
     /*background-color: aquamarine;*/
     margin: 0;
     padding: 0;
      /* background-image:('Images\kleurblauw.webp');  */
     /* background-repeat: no-repeat; */
     background-color:  rgb(224, 237, 241);
     background-attachment: fixed;
     background-size: 100% 100%;
     background: linear-gradient(90deg, rgba(82,183,136,1) 35%, rgb(0,119,182) 100%);
     font-family: 'Mukta', sans-serif;
     
}

.wrapper {
    
    margin: 0px auto;
    max-width: 80%;
}
.hello
{
    margin-left :30px;
    margin-top: 60px;
    margin-right: 30px;
     
    color: rgba(82,183,136,1);
    background-color: white; /*Changing background color */
    text-align: center;
    font-weight: bold; /* Making font bold */
    border-radius: 5px; /* Making border radius */
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    padding: 5px 30px 5px 30px; /* Making space around letters */
    font-size: 18px; /* Changing font size */
    
}


h1 {
    text-align: center;
    color: white;
    margin-top: 5px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid white; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
  

A {
    text-decoration: none;
}

h2 {
    text-align: center;
    color: white;
    
}

p {
    color: white;
    background-color:rgb(67, 107, 139); /*Changing background color  */
    font-weight: bold; /* Making font bold */
    border-radius: 20px; /* Making border radius */
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    padding: 5px 30px 5px 30px; /* Making space around letters */
    font-size: 18px; /* Changing font size */
    font-family:'Times New Roman',;
}

.header {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 40;
    padding: 80;
    text-align: center;
}

ul li {
    color: yellow;
    display: inline;
    list-style-type: none;
    margin-left: 50px;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}   
.tekst1{
    font-size: 20px;
    border: 5px solid white;
    padding: 10px;
    position: absolute;
    left: 0%;
    right: 700px;
    top: 130px;
    border-radius: 5px; /* Making border radius */
    width: 20%;
    color: white;
    margin-left: 15px;
    text-align: center;
} 

.tekst2{
    font-size: 20px;
    border: 5px solid white; 
    padding: 10px;
    position: absolute;
    left: 25%;
    top: 130px;
    width: 20%;
    color: white;
    margin-left: 15px;
    border-radius: 5px; /* Making border radius */
    text-align: center;
}

.tekst3{
    font-size: 20px;
    border: 5px solid white;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 130px;
    width: 20%;
    color: white;
    margin-left: 15px;
    border-radius: 5px; /* Making border radius */
    text-align: center;
} 

.tekst4{
    font-size: 20px;
    border: 5px solid white;
    padding: 10px;
    position: absolute;
    left: 75%;
    top: 130px;
    width: 20%;
    color: white;
    border-radius: 5px; /* Making border radius */
    margin-left: 15px;
    text-align: center;
} 
*{
    overflow-x: hidden;
}

li a {
    color: white;
}

p{ 
    max-width: 90%;
    margin: 0px auto;
    margin-top: 50px;
    max-width: 100;

}




i{
    color: white;
} 

.pic
{
    
display: flex;


justify-content: center;

margin-top: 50%;
margin-left: 20%;
align-items: center;
position: absolute;
width: 250px;
height: 500px;
}

.sprong
{
    
display: flex;


justify-content: center;
margin-top: 50%;
margin-left: 60%;
align-items: center;
position: absolute;
width: 250px;
height: 519px;
}